html, body, #app {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: default;
  font-family: Helvetica, sans-serif;
  color: #505050;
}

#app {
  display: flex;
  flex-flow: column nowrap;
}

#overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  background: #f7f7f7;
  font-weight: 400;
  letter-spacing: 10px;
  text-transform: uppercase;
}

#overlay span {
  padding-left: 10px;
}

#overlay:after {
  content: "";
  display: block;
  background: #505050;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-65px,15px);
  animation: loading 1s linear;
}

@keyframes loading {
  0% {
    width: 0px;
  }
  100% {
    width: 130px;
  }
}

#panels {
  flex-grow: 1;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
}

.panel {
  background: #f7f7f7;
  border-color: #e4e4e4;
  border-width: 2px;
  flex-grow: 0;
  flex-shrink: 0;
}

#menubar {
  width: 100%;
  height: 40px;
  border-bottom-style: solid;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}


#toolbar {
  width: 50px;
  border-right-style: solid;
  padding-top: 10px;
  position: relative;
}

#tools {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#tools span {
  position: relative;
  margin: 10px;
}

#tools span.selected {
  color: #008dea;
}

#tools .fa:first-child {
  font-size: 18px;
}

#tools .fa:nth-child(2) {
  position: absolute;
  top: 12px;
  left: 20px;
  font-size: 12px;
}

#sidepanel-icons {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  margin: 10px 0;
}

#sidepanel-icons div {
  margin: 8px;
}

#sidepanel-icons svg {
  fill: #505050;
}

#sidepanel-icons .selected svg, #sidepanel-icons .selected i {
  fill: #008dea;
  color: #008dea;
}

.sidepanel {
  width: 200px;
  border-right-style: solid;
  position: relative;
}

#add-layout {
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
  color: #959595;
}

#add-layout:hover {
  color: #008dea;
}

#workarea {
  flex-grow: 1;
  flex-shrink: 1;
  background-color: #e4e4e4;
  position: relative;
}

#layer-heading {
  height: 40px;
  width: 100%;
  margin-left: 15px;
  color: #959595;
  display: flex;
  align-items: center;
}

#layer-heading i {
  margin-right: 5px;
}

#layer-heading span {
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#layer-heading:hover i {
  color: #008dea;
}

/*
.move-layers-move {
  transition: transform 1s;
}
*/
.layer-item {
  padding-left: 15px;
  font-size: 12px;
  height: 25px;
  display: flex;
  align-items: center;
  position: relative;
}

.layer-item.selected {
  background-color: #ededed;
}

.layer-item i {
  margin-right: 5px;
}

.layer-item span {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  color: #aaa;
}

.layer-item span i:hover {
  color: #555;
}

.layer-item .sublayer_link {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 25px;
}

.layer-item .sublayer_link i {
  font-size: 15px;
  padding: 6px 10px;
}

.layer-item .sublayer_link i:hover {
  color: #008dea;
}

.layer-item.moving {
  position: absolute;
  z-index: 100;
  opacity: 0.6;
  background: none;
}

#move-line {
  position: absolute;
  height: 0;
  width: 200px;
  border: 1px solid #008dea;
}

#settings, #quickSettings {
  width: 300px;
  border-left-style: solid;
}

#title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 13px;
  font-weight: 400;
}

#menu {
  height: 100%;
  padding-left: 10px;
  display: flex;
}

#menu span {
  display: block;
  padding: 0 10px;
  height: 100%;
  line-height: 40px;
  font-size: 13px;
}

#menu span:hover {
  background-color: #e4e4e4;
}

#menu span i {
  margin-right: 5px;
}

#menu input {
  display: none;
}

.menu-right {
  right: 0;
  height: 100%;
  display: flex;
}

.loader {
  display: flex;
  align-items: center;
  width: 100px;
  height: 100%;
  transition: opacity 0.8s;
  margin-right: 10px;
}

.loader span {
  display: block;
  position: absolute;
  background: #505050;
  height: 2px;
  transition: width 0.08s;
}

.loader span:first-child {
  width: 100px;
  background: #ccc;
}

#fullPreview, #showSettings {
  display: block;
  box-sizing: border-box;
  padding: 10px 10px 10px 5px;
  height: 100%;
  vertical-align: middle;
}

#showSettings i, #fullPreview i {
  font-size: 12px;
  vertical-align: middle;
}

#showSettings i:first-child {
  line-height: 18px;
  margin-right: 2px;
}

#showSettings i:last-child {
  font-size: 18px;
}


#showSettings:hover {
  color: #008eda;
}

input[type="text"], input[type="number"] {
  background: none;
  border: none;
  border-bottom: 1px solid #e4e4e4;
  outline: none;
  color: #505050;
  padding-bottom: 4px;
}

input[type="text"]:focus, input[type="number"]:focus {
  border-bottom-color: #008dea;
}

.panel select {
  outline: none;
  border: none;
  color: #505050;
}

#settings > div, #quickSettings > div {
  border-bottom: 2px solid #e4e4e4;
  padding: 10px;
}

.settings-title {
  display: flex;
  justify-content: space-between;
  height: 25px;
  letter-spacing: 1px;
}

.settings-title span {
  font-size: 10px;
  margin: 6px 0;
  margin-right: 10px;
  display: inline-block;
  color: #9f9f9f;
  text-transform: uppercase;
}

.settings-title i {
  font-size: 14px;
  margin: 6px;
  color: #9f9f9f;
}

.settings-title i:hover {
  color: #008dea;
}

.settings-dimensions {
  display: flex;
  flex-flow: row wrap;
}

.dimen-row-3 .dimen {
  width: 80px;
}

.dimen-row-2 .dimen {
  width: 140px;
}

.dimen-row-4 .dimen {
  width: 55px;
}

.dimen-row .dimen {
  width: auto;
}

.dimen-row .dimen input {
  width: 45px;
}

.dimen {
  height: 20px;
  margin: 10px 5px;
}

.dimen span {
  display: inline-block;
  font-size: 11px;
  margin: 5px;
}

.dimen input {
  width: 60%;
}

.settings-panel {
  padding-top: 30px !important;
  position: relative;
}

.settings-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #9f9f9f;
}

.settings-header > span {
  margin: 10px;
  font-size: 10px;
}

.settings-header > span:first-child {
  letter-spacing: 2px;
  text-transform: uppercase;
}

.settings-header i {
  font-size: 12px;
}

.settings-header span span {
  margin: 1px 5px;
}

.settings-header ul {
  position: absolute;
  top: 15px;
  right: 17px;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #fcfcfc;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 5px 0 #9f9f9f;
}

.settings-header ul li {
  font-size: 10px;
  color: #9f9f9f
  width: 100px;
  padding: 5px 15px;
}

.settings-header ul li:hover {
  background-color: #ededed;
}

.buttons img {
  width: 20px;
  height: 20px;
  color: #ededed;
}

.buttons img::after {
  content: "";
  display: block;
  height: 20px;
  width: 20px;
  background-color: blue;
}

.resize-diag-1:hover {
  cursor: nwse-resize;
}

.resize-diag-2:hover {
  cursor: nesw-resize;
}

.resize-hori:hover {
  cursor: ew-resize;
}

.resize-vert:hover {
  cursor: ns-resize;
}

.move-tool:hover {
  cursor: move;
}

#corner-tools {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background: rgba(229,229,229,.8);
  border-radius: 0 0 0 10px;
}

#corner-zoom-bar {
  height: 80px;
  width: 2px;
  background: #ccc;
  margin: 10px 5px;
  position: relative;
}

.corner-zoom-point {
  width: 10px;
  height: 10px;
  background: #444;
  border-radius: 100%;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
}

.corner-move {
  margin: 5px;
  color: #444;
  font-size: 14px;
}

.layout-template {
  margin: 0 10px 10px 10px;
  font-size: 12px;
}

.layout-template span {
  display: block;
  line-height: 25px;
  height: 25px;
}

.login-overlay {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.login-screen {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 #555;
}

.login-screen.primary {
  background: #008dea;
  color: #fafafa;
}

.login-screen.secondary {
  background: #fafafa;
  color: #008dea;
}

.login-logo {
  font-size: 30px;
  margin: 40px;
}

.login-controls {
  margin-bottom: 30px;
}

.login-button {
  width: 200px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 10px;
  margin: 10px;
}

.login-button.primary {
  background: #fafafa;
  color: #008dea;
}

.login-button.secondary {
  background: #008dea;
  border: solid 1px #fafafa;
  color: #fafafa;
}

.login-input {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  margin: 10px;
  width: 200px;
}

.login-input span {
  font-size: 10px;
  text-transform: uppercase;
}

.login-input input {
  outline: none;
  border: none;
  background: none;
  border-bottom: solid 1px #008dea;
  height: 25px;
  margin: 5px 0;
  width: 100%;
  font-size: 15px;
  color: #555;
}

#gcode-config {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #f7f7f7;
  padding: 20px;
  box-shadow: 0 0 20px 0 #9f9f9f;
  border-radius: 5px;
  display: flex;
  flex-flow: column nowrap;
  min-width: 300px;
  align-items: stretch;
  font-size: 12px;
}

#gcode-snippet {
  border: 2px solid rgb(228, 228, 228);
  min-height: 200px;
  margin: 0px;
}

#gcode-config input {
  width: 80px;
  margin-top: 5px;
}

.switch {
    padding: 13px 10px;
}

.switch > div {
    height: 14px;
    width: 28px;
    border-radius: 7px;
    box-shadow: inset 0 0 20px #b9b9b9;
    background: #ccc;
    position: relative;
}

.switch > div > div {
  position: absolute;
  left: 0;
  top: 0;
  height: 14px;
  width: 14px;
  background: #505050;
  border-radius: 10px;
  transition: all 0.5s;
}

.switch.active > div > div {
  left: 50%;
  background: #008dea;
}
