.DS_Store
dist/*
build/*
!build/icons
node_modules/
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep
._.DS_Store
package-lock.json
todo.md
npm-debug.log*
yarn-debug.log*
yarn-error.log*
_old/
awslambda/
